# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.name
.idea/artifacts/
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/kotlinc.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
AlphaLibary.iml
dependency-reduced-pom.xml
src/test/
target/
